doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    //- Bootstrap
    //- link(href='css/bootstrap.min.css', rel='stylesheet') 
    link(href='css/simplex/bootstrap.min.css', rel='stylesheet') 
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800', rel='stylesheet') 
    block _css
  body
    //- Header
      block _header
    
    //- Content
    block _content

    //- Footer
      block _footer
    
    //- JS
    script(src='js/jquery.min.js')
    script(src="js/popper.min.js" integrity="sha256-FCiJD1Xk+2itXYf5YdFQrPURijNogcXySEApUqeRwHc=" crossorigin="anonymous")
    script(src='js/bootstrap.min.js')
    block _js
