
#container-footer.container
  .row
    .col-md-4
      img(src='images/logo.png', style='width:270px; height:51px;' alt='')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p Copyright 2018 kyechan99
    .col-md-1
    .col-md-2
      h3 Menu
      hr
      a.a-block.a-bold(href='/') HOME
      a.a-block.a-bold(href='/user') USER
      a.a-block.a-bold(href='/login') LOGIN
      a.a-block.a-bold(href='/contact') CONTACT
    .col-md-1
    .col-md-4
      h5 GitHub
      a(href="https://github.com/kyechan99/BoardTemplate") Board Template GitHub Link
      hr
      h5 Issues
      a(href="https://github.com/kyechan99/BoardTemplate/issues") Issues Link
      hr
      h5 Social
      a.a-fa(href="#")
        i.fab.fa-facebook-square.fa-2x
      a.a-fa(href="#")
        i.fab.fa-twitter-square.fa-2x
      a.a-fa(href="#")
        i.fab.fa-linkedin.fa-2x
      a.a-fa(href="#")
        i.fab.fa-google-plus-square.fa-2x
      a.a-fa(href="#")
        i.fab.fa-github-square.fa-2x
      a.a-fa(href="#")
        i.fas.fa-rss-square.fa-2x