
#container-navbar.container
  //- h1= title
  p Welcome to #{userData}
  nav.navbar
    a.navbar-brand(href='#' style='margin-right:0px;')
      img.d-inline-block.align-top(src='images/logo.png', style='width:300px; height:57px;' alt='')
    ul.nav.justify-content-end
      li.nav-item
        a.nav-link.active(href='#') HOME
      li.nav-item
        a.nav-link(href='#') PAGES
      li.nav-item
        a.nav-link(href='#') BLOG
      li.nav-item.last-one
        a.nav-link(href='#') CONTACT