extends ../layouts/layout
block _css
  link(rel="stylesheet", href="stylesheets/user.css")

block _notice
  #container-notice.container-fluid
    .container
      p Board Template is World Class

block _navbar
  include ../components/navbar

block _head
  #container-head.container-fluid
    .container
      p BOARD
  br
  br

block _body
  #container-body.container
    br
    h2#body-title Board List
    table.table.table-hover
      thead
        tr
          th(scope='col') #
          th(scope='col') Title
          th(scope='col') User
          th(scope='col') Date
      tbody
        - for (var i = 0; i < boardData.length; i++)
            tr
              each item in boardData[i]
                td= item
    nav
      ul.pagination.justify-content-center
        if (boardIdx > 1)
          li.page-item
            a.page-link(href=href='board?boardIdx=' + prevIdx, aria-label='Previous')
              span(aria-hidden='true') «
              span.sr-only Previous
        else
          li.page-item.disabled
            a.page-link(href='#', aria-label='Previous')
              span(aria-hidden='true') «
              span.sr-only Previous
        - for (; startIdx < lastIdx; startIdx++)
          if (startIdx == boardIdx)
            li.page-item.active
              a.page-link(href='board?boardIdx=' + startIdx)= startIdx
          else
            li.page-item
              a.page-link(href='board?boardIdx=' + startIdx)= startIdx
        if (boardIdx < (database.length) / boardLength)
          li.page-item
            a.page-link(href='board?boardIdx=' + nextIdx, aria-label='Next')
              span(aria-hidden='true') »
              span.sr-only Next
        else
          li.page-item.disabled
            a.page-link(href='#', aria-label='Next')
              span(aria-hidden='true') »
              span.sr-only Next
  br
  br
  br
  br
  br
  br

block _footer
  include ../components/footer

  
block _js
  script.
    $(function(){
      $("table tr").click(function(){
        var str = "";
        var tr = $(this);
        var td = tr.children();

        console.log(tr.text());

        var no = td.eq(0).text();
        var userid = td.eq(1).text();
        var name = td.eq(2).text();
        var email = td.eq(3).text();

        str +=	 no + ", " + userid + ", " + name + ", " + email;		

          //- var txt = $(this).text();
        alert(str);
          //- location.href="/?page="+txt;
      });
    });

