extends ../layouts/layout
block _css
  link(rel='stylesheet', href='/stylesheets/style.css')

block _content
  #container-notice.container-fluid
    .container
      p Board Template is World Class
  #container-navbar.container
    //- h1= title
    //- p Welcome to #{title}
    nav.navbar
      a.navbar-brand(href='#')
        img.d-inline-block.align-top(src='images/logo.png',   alt='')
      ul.nav.justify-content-end
        li.nav-item
          a.nav-link.active(href='#') HOME
        li.nav-item
          a.nav-link(href='#') PAGES
        li.nav-item
          a.nav-link(href='#') BLOG
        li.nav-item
          a.nav-link(href='#') CONTACT
  #container-head.container-fluid
    .container
      p USER
  br
  br
  .container
    br
    h1 table
    table.table.table-hover
      thead
        tr
          th(scope='col') #
          th(scope='col') First headad
          th(scope='col') Last ehad
          th(scope='col') Handle hedah
      tbody
        tr.table-primary
          th(scope='row') 1
          td Mark
          td Otto
          td @mdo
        tr.table-secondary
          a(href='#')
            th(scope='row') 2
            td  Jacob
            td Thornton
            td @fat
        tr.table-primary
          th(scope='row') 3
          td(colspan='2') Larry the Bird
          td @twitter

block _js
  script.
    $(function(){
            $("table tr").click(function(){
              var str = "";
              var tr = $(this);
              var td = tr.children();

              console.log(tr.text());

              var no = td.eq(0).text();
              var userid = td.eq(1).text();
              var name = td.eq(2).text();
              var email = td.eq(3).text();

              str +=	 no + ", " + userid + ", " + name + ", " + email;		

                //- var txt = $(this).text();
              alert(str);
                //- location.href="/?page="+txt;
            });
        });

