extends ../layouts/layout
block _css
  link(rel="stylesheet", href="stylesheets/index.css")

block _notice
  #container-notice.container-fluid
    .container
      p Board Template is World Class

block _navbar
  include ../components/navbar

block _head
  //- #container-head.container-fluid
  //-   .container
  //-     p INDEX

block _body
  #container-body.container-fluid
    video(autoplay='', loop='')
      source(src='images/Travaho.mp4', type='video/mp4')
      source(src='images/Travaho.ogg', type='video/ogg')
      |   Your browser does not support the video tag.
    .video-content
      h1 This is BoardTemplate
      h3 Nice to meet you
      p BoardTemplate is World Class
      br
      button.btn.btn-outline-danger(type='button') README
  #container-content.container
    h1#content-title Why We Use?
    hr#title-line
    .row
      .col-md-4
        i.far.fa-eye.fa-10x#fa-custom
        h2 Design
        p Very Simple, an eye-catching design
      .col-md-4
        i.fab.fa-creative-commons-nc.fa-10x#fa-custom
        h2 Costless
        p It is Free!
      .col-md-4
        i.fab.fa-github.fa-10x#fa-custom
        h2 Open Source
        p This is OpenSource project.
  #container-contact.container-fluid
    .container
      .row
        .col-md-6
          h1 CONTACT
          p Please Contact here. If you want.
          br
          h5 Name
          p Ye-Chan Kang
          hr
          h5 E-mail
          p kyechan99@naver.com
          hr
          h5 Introduce
          p
            | Hi! BoardTemplate is Open Source.
            br
            | Do repair yourself! 
        .col-md-6
          form(action="")
            .form-group
              label Email
              input.form-control(type="email" placeholder="name@example.com")
            .form-group
              label Content
              textarea.form-control(rows='10')
            button.btn.btn-light.float-right(type='submit' style='width:100%') Send

block _footer
  #container-footer.container
    .row
      .col-md-4
        img(src='images/logo.png', style='width:270px; height:51px;' alt='')
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p Copyright 2018 kyechan99
      .col-md-1
      .col-md-2
        h3 Menu
        hr
        a.a-block.a-bold(href='/') HOME
        a.a-block.a-bold(href='/user') USER
        a.a-block.a-bold(href='/login') LOGIN
        a.a-block.a-bold(href='/contact') CONTACT
      .col-md-1
      .col-md-4
        h5 GitHub
        a(href="https://github.com/kyechan99/BoardTemplate") Board Template GitHub Link
        hr
        h5 Issues
        a(href="https://github.com/kyechan99/BoardTemplate/issues") Issues Link
        hr
        h5 Social
        a.a-fa(href="#")
          i.fab.fa-facebook-square.fa-2x
        a.a-fa(href="#")
          i.fab.fa-twitter-square.fa-2x
        a.a-fa(href="#")
          i.fab.fa-linkedin.fa-2x
        a.a-fa(href="#")
          i.fab.fa-google-plus-square.fa-2x
        a.a-fa(href="#")
          i.fab.fa-github-square.fa-2x
        a.a-fa(href="#")
          i.fas.fa-rss-square.fa-2x


block _js