extends ../layouts/layout
block _css
  

block _notice
  #container-notice.container-fluid
    .container
      p Board Template is World Class

block _navbar
  include ../components/navbar

block _head
  #container-head.container-fluid
    .container
      p USER
  br
  br

block _body
  #container-body.container
    br
    h2#body-title User List
    table.table.table-hover
      thead
        tr
          th(scope='col') #
          th(scope='col') Title
          th(scope='col') User
          th(scope='col') Date
      tbody
        - for (var i = 0; i < userData.length; i++)
          if (i % 2 === 0)
            tr.table-secondary
              td= i
              each item in userData[i]
                td= item
          else
            tr.table-primary
              td= i
              each item in userData[i]
                td= item

block _js
  script.
    $(function(){
      $("table tr").click(function(){
        var str = "";
        var tr = $(this);
        var td = tr.children();

        console.log(tr.text());

        var no = td.eq(0).text();
        var userid = td.eq(1).text();
        var name = td.eq(2).text();
        var email = td.eq(3).text();

        str +=	 no + ", " + userid + ", " + name + ", " + email;		

          //- var txt = $(this).text();
        alert(str);
          //- location.href="/?page="+txt;
      });
    });

