body {
  /* padding-top: 50px; */
  padding-bottom: 50px;
  padding-left: 0%;
  padding-right: 0%;
  font-family: 'Roboto', sans-serif;
}

/* 
  Container - Notice
*/
#container-notice {
  padding: 0px;
  background-color : #8f2626de;
}
#container-notice p {
  padding: 5px;
  color: white;
}

/* 
  Container - Navbar
*/
#container-navbar {
  margin-top: 30px;
  margin-bottom: 30px;
}
#container-navbar nav {
  border-color: white;
}
#container-navbar ul a {
  font-size: 15px;
  font-weight: 600;
  color: #c97474;
  border-right: 0.1px;
  border-right-style: solid;
  border-color: #814e4e;
  line-height: 3px;
}
#container-navbar ul li.last-one a {
  border-right-style: none;
}
#container-navbar ul a.active {
  color: #883b3b;
  font-weight: 800;
}
@media (max-width:992px) {
  #container-navbar {
    margin-bottom: 15px;
    text-align: center;
  }
  #container-navbar ul a {
    font-size: 12px;
  }
  #container-navbar .navbar {
    display: inline-block;
    float: none;
  }
  #container-navbar a.navbar-brand {
    padding-top: 0px;
  }
}


/*
  Container - Head
*/
#container-head {
  display: block;
  height: 130px;
  line-height: 130px;
  background-color : #da4d4d;
}
#container-head p {
  color: white;
  font-size: 35px;
  font-weight: 700;
}


/*
  Container - Body
*/
#container-body #body-title {
  font-weight: 600;
  margin-bottom: 30px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #814e4e;
  width: 150px;
  height: 40px;
}