a {
    color: #a74040;
}
a:hover {
    color: #a84c4cd7;
}
a.a-block {
    display: block;
}
a.a-bold {
    color: #bb3e3e;
    font-weight: 700;
}
a.a-bold:hover {
    color: #bb3e3ede;
    font-weight: 700;
}
a.a-fa {
    color: #bb3e3ede;
    margin-right: 3px;
}
a.a-fa:hover {
    color: #833535c2;
    margin-right: 3px;
}