
#container-body {
    position: absolute;
    height: 450px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    /* background-color: tomato; */
}
#container-body video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#container-body .video-content {
    position: absolute;
    bottom: 0;
    top: 35%;
    left: 0;
    right: 0;
    z-index: 1;
    color: white;
    overflow: hidden; 
}
#container-body .video-content h1 {
    font-weight: 800;
}
#container-body .video-content button {
    color: white;
    border-color:white;
}
video::-webkit-media-controls {
    display: none !important;
}

#container-content {
    /* #container-body::height : 450px
       #container-head::margin-bottom : 30px 
       #container-content::margin-top : 50px
       450 + 30 + 50 : 530px */
    margin-top: 530px;
    margin-bottom: 50px;
    text-align: center;
    /* background-color: skyblue; */
}
#container-content #content-title {
    padding-top: 80px;
    font-weight: 800;
}
#container-content #title-line {
    width: 100px;
    margin-bottom: 80px;
    border-top-width: 3px;
    border-top-color: brown;
}
#container-content .col-md-4 h1 {
    margin-top: 25px;
    font-weight: 700;
}
#container-content #fa-custom {
    color: #464646;
}